#board {
    padding-top: 3em;
    text-align: center;
}

.row {
    margin: 0 auto;
    width: 302px;
}

.row > div {
    float: left;
    height: 100px;
    width: 100px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 90px;
}


.top {
    border-bottom: 1px black solid;
}

.bottom {
    border-top: 1px black solid;
}

.left {
    border-right: 1px black solid;
}

.right {
    border-left: 1px black solid;
}